<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>MQTT Client</title>
    <style>
        table, th, td {
            border: 1px solid black;
            }
    </style>
    <script
        src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js">
    </script>
</head>
<body>
    <h1>Droplet Information</h1>
    <h2>Droplet ID: {{ client.client_name }}</h2>
    <p>Droplet S/N: {{ client.client_serial_number }}</p>
    <br>
    <canvas id="dropletBarChart" style="width:100%;max-width:800px;height:250px;"></canvas>
    <table style="padding-top: 2em">
        <tr>
            <th style="padding-right: 4em">Timestamp</th>
            <th style="padding-right: 4em">Current</th>
            <th style="padding-right: 4em">1min</th>
            <th style="padding-right: 4em">5min</th>
            <th style="padding-right: 4em">30min</th>
        </tr>
        <tr>
            <td id="timestamp">{{ data.data_timestamp }}</td>
            <td id="current">{{ data.current_value }}</td>
            <td id="1min">{{ data.one_minute_average }}</td>
            <td id="5min">{{ data.five_minute_average }}</td>
            <td id="30min">{{ data.thirty_minute_average }}</td>
        </tr>
    </table>

    {{ client_name|json_script:"client-name" }}
    <script>
        const clientName = JSON.parse(document.getElementById('client-name').textContent);

        let timestamp = document.getElementById('timestamp').innerHTML;
        let current = document.getElementById('current').innerHTML;
        let one = document.getElementById('1min').innerHTML;
        let five = document.getElementById('5min').innerHTML;
        let thirty = document.getElementById('30min').innerHTML;

        let xValues = ["Current", "1min", "5min", "30min"];
        let yValues = [current, one, five, thirty];
        let barColors = "red";
        const ctx = document.getElementById("dropletBarChart").getContext("2d");

        const barChart = new Chart(ctx, {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [
                    {
                        label: 'KWh',
                        backgroundColor: 'rgba(0, 136, 25, 0.28)',
                        borderColor: 'rgba(0, 136, 25, 1)',
                        borderWidth: 1,
                        data: yValues
                    }
                ]
            },
            options: {
                scales: {
                y: {
                    beginAtZero: true,
                    max: 100
                }
                }
            }
            });
    </script>
</body>
</html>