<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Clients</title>
</head>
<body>
    Enter the Droplet ID to view energy data:<br>
    <input id="client-name-input" type="text" size="100"><br>
    <input id="client-name-submit" type="button" value="Enter">
    <br>
    To test if the service is working:<br>
    <input id="test-client" type="button" value="Test Service">

    <script>
        document.querySelector('#client-name-input').focus();
        document.querySelector('#client-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) { 
                document.querySelector('#client-name-submit').click();
            }
        };

        document.querySelector('#client-name-submit').onclick = function(e) {
            let clientName = document.querySelector('#client-name-input').value;
            window.location.pathname = '/client/' + clientName + '/';
        };

        document.querySelector('#test-client').onclick = function(e) {
            let clientName = 'test'
            window.location.pathname = '/' + clientName + '/';
        };
    </script>
</body>
</html>